block cards

	each val, index in ['1', '2', '3', '4', '5']

		.card
				.card__header(id=`cardHeader${val}`)
					a.collapse__target.collapsed(data-toggle="collapse" data-target=`#target${val}` aria-expanded="false" aria-controls=`target${val}`) Box #{val}

				.collapse(id=`target${val}` aria-labelledby=`cardHeader${val}`)
					.card__body
						.sc__option--position
							p.option__title
								strong Position
							.inputs__wrapper
								.input
									input(type="radio" id=`static${val}` name=`position${val}` value="static")
									label(for=`static${val}`) Static
								.input
									input(type="radio" id=`relative${val}` name=`position${val}` value="relative")
									label(for=`relative${val}`) Relative
								.input
									input(type="radio" id=`absolute${val}` name=`position${val}` value="absolute")
									label(for=`absolute${val}`) Absolute
								.input
									input(type="radio" id=`fixed${val}` name=`position${val}` value="fixed")
									label(for=`fixed${val}`) Fixed
								.input
									input(type="radio" id=`sticky${val}` name=`position${val}` value="sticky")
									label(for=`sticky${val}`) Sticky

						.sc__option--z-index
							p.option__title
								strong Z-index

							.inputs__wrapper
								.input
									input(type="radio" id=`z-i-none--${val}` name=`z-i-${val}` value="0")
									label(for=`z-i-0--${val}`) 0
								.input
									input(type="radio" id=`z-i-1--${val}` name=`z-i-${val}` value="1")
									label(for=`z-i-1--${val}`) 1
								.input
									input(type="radio" id=`z-i-2--${val}` name=`z-i-${val}` value="2")
									label(for=`z-i-2--${val}`) 2
								.input
									input(type="radio" id=`z-i-3--${val}` name=`z-i-${val}` value="3")
									label(for=`z-i-3--${val}`) 3
								.input
									input(type="radio" id=`z-i-4--${val}` name=`z-i-${val}` value="4")
									label(for=`z-i-4--${val}`) 4
								.input
									input(type="radio" id=`z-i-5--${val}` name=`z-i-${val}` value="5")
									label(for=`z-i-5--${val}`) 5

						.sc__option--coord.inputs__wrapper
							.input
								input(type="checkbox" id=`top${val}` name=`top${val}` value="top")
								p.option__title
									strong Top (px)
								input(type="number" disabled="disabled"  id=`top-number${val}` name=`top-number${val}`)

							.input
								input(type="checkbox" id=`right${val}` name=`right${val}` value="right")
								p.option__title
									strong Right (px)
								input(type="number" disabled="disabled"  id=`right-number${val}` name=`right-number${val}`)

							.input
								input(type="checkbox" id=`bottom${val}` name=`bottom${val}` value="bottom")
								p.option__title
									strong Bottom (px)
								input(type="number" disabled="disabled"  id=`bottom-number${val}` name=`bottom-number${val}`)

							.input
								input(type="checkbox" id=`left${val}` name=`left${val}` value="left")
								p.option__title
									strong Left (px)
								input(type="number" disabled="disabled"  id=`left-number${val}` name=`left-number${val}`)


	//- .text-center
	//- 	button#clear.sc__reset Clean all values

