block intro

	.wrapper
		each val, index in ['1', '2', '3', '4', '5']
			.square(id=`sq${val}`)
				strong Box #{val}
				p(id=`position${val}`)
				p(id=`z-index${val}`)
				p(id=`top${val}`)
				p(id=`right${val}`)
				p(id=`bottom${val}`)
				p(id=`left${val}`)

	p.sc__description
		strong ❗️Note:
		|
		| wrapper (white box) is
		|
		|
		code position: relative


